name: Release

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 10
        uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Use JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: "11.x"
      - name: Download Gradle
        run: test/project/with-artifactory-plugin/gradlew dependencies
      - name: Build and Release
        run: |
          yarn
          yarn build
          yarn test
          yarn run semantic-release
        env:
          CI: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
